<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.brunohenrique.contactstudents">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".NextScreen" />
        <activity android:name=".Anderson" />
        <activity android:name=".Gabriel" />
        <activity android:name=".luis" />
        <activity android:name=".Samuel" />
        <activity android:name=".Breno" />
        <activity android:name=".Bruno" />
        <activity android:name=".Pedro" />
        <activity android:name=".Camilo" />
        <activity android:name=".Renan" />
        <activity android:name=".Regis" />
        <activity android:name=".Marcello" />
        <activity android:name=".Lauro" />
        <activity android:name=".Vinicius" />
        <activity android:name=".Angelo"></activity>
    </application>

</manifest>