<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.brunohenrique.contactstudents">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NextScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".Anderson"
            android:screenOrientation="portrait"/>
        <activity android:name=".Gabriel"
            android:screenOrientation="portrait"/>
        <activity android:name=".luis"
            android:screenOrientation="portrait"/>
        <activity android:name=".Samuel"
            android:screenOrientation="portrait"/>
        <activity android:name=".Breno"
            android:screenOrientation="portrait"/>
        <activity android:name=".Bruno"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pedro"
            android:screenOrientation="portrait"/>
        <activity android:name=".Camilo"
            android:screenOrientation="portrait"/>
        <activity android:name=".Renan"
            android:screenOrientation="portrait"/>
        <activity android:name=".Regis"
            android:screenOrientation="portrait"/>
        <activity android:name=".Marcello"
            android:screenOrientation="portrait"/>
        <activity android:name=".Lauro"
            android:screenOrientation="portrait"/>
        <activity android:name=".Vinicius"
            android:screenOrientation="portrait"/>
        <activity android:name=".Angelo"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>